.account {
  .account-info {
      background-color: rgb(25, 30, 79, 0.5);
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 25px;
      padding: 50px;


      span {
          color: #fff;
          font-family: 'Readex Pro', sans-serif;
          font-weight: 700;
          line-height: 1.2;
          font-size: 18px;
      }

      .dashboard-btn {
          text-decoration: none;
          color: #c2c3c5;
          font-family: 'Readex Pro', sans-serif;
          font-weight: 400;
          line-height: 1.2;
          font-size: 14px;
      }
  }
}