.contact {
  .title {
      text-align: center;

      h6 {
          color: #fff;
          font-family: Conthrax, sans-serif;
          font-weight: 700;
          line-height: 1.2;
          border: 1px solid rgba(255, 255, 255, 0.1);
          background-color: rgba(255, 255, 255, 0.1);
          border-radius: 100px;
          display: inline-block;
          margin-bottom: 22px;
          padding: 7px 14px;

          span {
              color: transparent;
              background: linear-gradient(264.28deg, #dec7ff -38.2%, #5c27fe 103.12%);
              background-clip: text;
          }
      }

      h3 {
          color: #fff;
          font-family: Conthrax, sans-serif;
          font-weight: 700;
          line-height: 1.2;
          font-size: 50px;
          margin-bottom: 25px;
      }
  }

  p {
      color: #ffffff;
      font-family: "Readex Pro", sans-serif;
      font-size: 14px;
      font-weight: 300;
  }

  .contact-body {
      background: #191e4f;
      border-radius: 17px;

      form {
          padding: 40px;
          margin-left: 20px;

          label {
              color: #fff;
              font-size: 14px;
              font-family: "Readex Pro", sans-serif;
              font-weight: 700;
              margin-bottom: 7px;
          }

          input {
              background: rgb(255 255 255 / 10%);
              background: linear-gradient(90deg, rgb(255 255 255 / 5%) .03%, rgb(255 255 255 / 0.08%), rgb(255 255 255 / 5%) 99.96%);
              border: 1px solid rgb(255 255 255 / 10%);
              border-radius: 5px;
              padding: 13px 15px;
              outline: none;
              box-shadow: none;
              color: #fff;
          }

          textarea {
              background: rgb(255 255 255 / 10%);
              background: linear-gradient(90deg, rgb(255 255 255 / 5%) .03%, rgb(255 255 255 / 0.08%), rgb(255 255 255 / 5%) 99.96%);
              border: 1px solid rgb(255 255 255 / 10%);
              border-radius: 5px;
              outline: none;
              box-shadow: none;
              color: #fff;
              width: 100%;
              height: 130px;
          }

          span {
              background: linear-gradient(264.28deg, #dec7ff -38.2%, #5c27fe 103.12%);
              border-radius: 10px;
              color: #fff;
              padding: 14px 24px;
          }
      }

      .contact-info {
          padding: 40px;

          h5 {
              color: #fff;
              font-family: Conthrax, sans-serif;
              font-weight: 700;
              line-height: 1.2;
              font-size: 20px;
              margin-bottom: 23px;
          }

          .list {
              list-style-type: none;
              margin: 0;
              padding: 0;

              li {
                  color: #fff;
                  font-size: 16px;
                  font-family: "Readex Pro", sans-serif;
                  align-items: center;
                  border-bottom: 1px solid rgb(255 255 255 / 10%);
                  margin-bottom: 13px;
                  padding-bottom: 13px;
              }
          }

          .image {
              margin-left: -40px;
              margin-bottom: -40px;
          }

      }

  }

}